.host{display:block;width:100%;padding:0;transform:none;margin-top:4px!important;margin-bottom:4px!important;isolation:isolate}
@media(max-width:800px){.host{transform:none;margin-top:4px!important;margin-bottom:4px!important}}
